<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>TeLlevoAPP - Conductor</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">TeLlevoAPP - Conductor</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-tabs>
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="inicio">
				<fa-icon [icon]="'home'"></fa-icon>
				Inicio
			</ion-tab-button>
			<ion-tab-button tab="crear">
				<fa-icon [icon]="'car'"></fa-icon>
				Viajes
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>