<ion-menu side="start" menuId="first" contentId="main-content">
	<ion-content class="ion-padding">
		<ion-list>
			<ion-menu-toggle>
				<ion-item routerLink="/home" routerLinkActive="active">Perfil
					<fa-icon [icon]="'home'" slot="start"></fa-icon>
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item routerLink="/login" routerLinkActive="active">Salir
					<fa-icon [icon]="'door-open'" slot="start"></fa-icon>
				</ion-item>
			</ion-menu-toggle>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
	<ion-searchbar #searchBar animated="true" placeholder="Direccion" (ionClear)="onClearSearch()"></ion-searchbar>

	<div id="map">
		<div id="trayecto"></div>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="calculateRoute()">
			<fa-icon [icon]="'play'" slot="start"></fa-icon>
			Iniciar
		</ion-fab-button>
	</ion-fab>
</ion-content>