<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="logo-container">
		<img #logo class="logo" src="../../assets/icon/logoduocuc.png" alt="Logotipo de DuocUC">
		<p #text class="text">Login super seguro de mi super aplicacion.</p>
	</div>

	<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<ion-item>
			<ion-label position="stacked">Usuario</ion-label>
			<ion-input formControlName="username" type="text" placeholder="Ingrese su Usuario"
				maxlength="8"></ion-input>
		</ion-item>

		<div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Error Usuario</div>

		<ion-item>
			<ion-label position="stacked">Contraseña</ion-label>
			<ion-input formControlName="password" type="password" placeholder="****" maxlength="4"></ion-input>
		</ion-item>

		<ion-button expand="block" color="dark" type="submit">Ingresar</ion-button>
	</form>
</ion-content>