<ion-menu contentId="main-content" type="push">
    <ion-header>
        <ion-toolbar>
            <ion-title>¡Hola! {{ userName }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <ion-button expand="block" color="dark"><fa-icon [icon]="'user'"
                style="padding-right: 5px;"></fa-icon>Perfil</ion-button>
        <ion-button expand="block" color="dark"><fa-icon [icon]="'wallet'"
                style="padding-right: 5px;"></fa-icon>Billetera</ion-button>
        <ion-button expand="block" color="dark"><fa-icon [icon]="'phone'"
                style="padding-right: 5px;"></fa-icon>Soporte</ion-button>
        <ion-button (click)="onLogout()" expand="block" color="dark"><fa-icon [icon]="'right-to-bracket'"
                style="padding-right: 5px;"></fa-icon>Salir</ion-button>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>TeLlevoAPP</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-searchbar animated="true" placeholder="Direccion"></ion-searchbar>
        <!-- <div class="container"> -->
        <p class="ion-text-center">Imagen Referencial</p>
        <img class="center" src="../../assets/imagenMapa.png" style="max-width: 400px;">
        <ion-button expand="block" color="dark" class="bottom-button"
            style="padding-left: 100px; padding-right: 100px;">
            <fa-icon [icon]="'magnifying-glass'" style="padding-right: 5px;"></fa-icon>Buscar Viaje
        </ion-button>
        <!-- </div> -->
    </ion-content>
</div>